In [5]:
import requests

# BLS blocks requests without a proper User-Agent
headers = {
    "User-Agent": "YourName (nahomkenna14@outlook.com)"
}

url_bls = "https://download.bls.gov/pub/time.series/pr/pr.data.0.Current"
bls_response = requests.get(url_bls, headers=headers)

with open("pr.data.0.Current", "wb") as f:
    f.write(bls_response.content)

print("‚úÖ pr.data.0.Current downloaded successfully with headers")

‚úÖ pr.data.0.Current downloaded successfully with headers

In [6]:
import pandas as pd
import json

# Load time series from Part 1
df_timeseries = pd.read_csv("pr.data.0.Current", sep="\t")
df_timeseries.columns = df_timeseries.columns.str.strip()
df_timeseries.head()

           series_id  year period  value footnote_codes
0  PRS30006011        1995    Q01    2.6            NaN
1  PRS30006011        1995    Q02    2.1            NaN
2  PRS30006011        1995    Q03    0.9            NaN
3  PRS30006011        1995    Q04    0.1            NaN
4  PRS30006011        1995    Q05    1.4            NaN

In [7]:
# Download your previously uploaded JSON from S3
url_json = "https://rearc-bls-nahom.s3.amazonaws.com/datausa/population.json"
json_response = requests.get(url_json)

with open("population.json", "wb") as f:
    f.write(json_response.content)

print("‚úÖ population.json downloaded")

‚úÖ population.json downloaded

In [8]:
# Load population.json from Part 2
with open("population.json") as f:
    data = json.load(f)

# Normalize nested JSON structure into flat table
df_population = pd.json_normalize(data["data"])
df_population.columns = df_population.columns.str.strip()

# Preview the data
df_population.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2023  2023   332387540  united-states
1   01000US  United States     2022  2022   331097593  united-states
2   01000US  United States     2021  2021   329725481  united-states
3   01000US  United States     2020  2020   326569308  united-states
4   01000US  United States     2019  2019   324697795  united-states

In [10]:
# üîÑ Convert 'Year' and 'Population' to numeric types
df_population['Year'] = pd.to_numeric(df_population['Year'], errors='coerce')
df_population['Population'] = pd.to_numeric(df_population['Population'], errors='coerce')

# üìÜ Filter for years 2013‚Äì2018
df_pop_filtered = df_population[df_population['Year'].between(2013, 2018)]

# üìä Compute mean and standard deviation
mean_pop = df_pop_filtered['Population'].mean()
std_pop = df_pop_filtered['Population'].std()

# üñ®Ô∏è Print results
print("üìä Mean U.S. Population (2013‚Äì2018):", round(mean_pop))
print("üìâ Standard Deviation:", round(std_pop))

üìä Mean U.S. Population (2013‚Äì2018): 317437383
üìâ Standard Deviation: 4257090

In [11]:
# üßπ Clean the 'value' column
df_timeseries['value'] = pd.to_numeric(df_timeseries['value'], errors='coerce')

# Drop rows where 'value' is missing
df_timeseries = df_timeseries.dropna(subset=['value'])

# üìä Group by series_id and year, summing up all quarterly values
df_grouped = df_timeseries.groupby(['series_id', 'year'])['value'].sum().reset_index()

# üèÜ For each series_id, get the year with the highest total value
df_best_years = df_grouped.loc[df_grouped.groupby('series_id')['value'].idxmax()].reset_index(drop=True)

# üñ®Ô∏è Show the result
df_best_years.head()

           series_id  year    value
0  PRS30006011        2022   20.500
1  PRS30006012        2022   17.100
2  PRS30006013        1998  705.895
3  PRS30006021        2010   17.700
4  PRS30006022        2010   12.400

In [12]:
# üîç Step 1: Filter the time-series data for PRS30006032 and Q01
df_filtered_value = df_timeseries[
    (df_timeseries['series_id'] == 'PRS30006032') &
    (df_timeseries['period'] == 'Q01')
][['series_id', 'year', 'period', 'value']]

# üßº Step 2: Ensure 'year' in both DataFrames is numeric
df_filtered_value['year'] = pd.to_numeric(df_filtered_value['year'], errors='coerce')
df_population['Year'] = pd.to_numeric(df_population['Year'], errors='coerce')
df_population['Population'] = pd.to_numeric(df_population['Population'], errors='coerce')

# üîÅ Step 3: Prepare population DataFrame and rename 'Year' to match
df_pop_subset = df_population[['Year', 'Population']].rename(columns={'Year': 'year'})

# üîó Step 4: Merge on 'year'
df_joined = pd.merge(df_filtered_value, df_pop_subset, on='year', how='inner')

# ‚úÖ Final output
df_joined.head()

Empty DataFrame
Columns: [series_id, year, period, value, Population]
Index: []

In [13]:
df_filtered_value['year'].unique()

array([], dtype=int64)

In [14]:
array([2018])

NameError: name 'array' is not defined

In [15]:
df_pop_subset['year'].unique()

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013])

In [16]:
df_timeseries['series_id'].unique()

array(['PRS30006011      ', 'PRS30006012      ', 'PRS30006013      ',
       'PRS30006021      ', 'PRS30006022      ', 'PRS30006023      ',
       'PRS30006031      ', 'PRS30006032      ', 'PRS30006033      ',
       'PRS30006061      ', 'PRS30006062      ', 'PRS30006063      ',
       'PRS30006081      ', 'PRS30006082      ', 'PRS30006083      ',
       'PRS30006091      ', 'PRS30006092      ', 'PRS30006093      ',
       'PRS30006101      ', 'PRS30006102      ', 'PRS30006103      ',
       'PRS30006111      ', 'PRS30006112      ', 'PRS30006113      ',
       'PRS30006131      ', 'PRS30006132      ', 'PRS30006133      ',
       'PRS30006151      ', 'PRS30006152      ', 'PRS30006153      ',
       'PRS30006161      ', 'PRS30006162      ', 'PRS30006163      ',
       'PRS30006171      ', 'PRS30006172      ', 'PRS30006173      ',
       'PRS30006211      ', 'PRS30006212      ', 'PRS30006213      ',
       'PRS30006221      ', 'PRS30006222      ', 'PRS30006223      ',
       'PRS30006231      ', 'PRS30006232      ', 'PRS30006233      ',
       'PRS31006011      ', 'PRS31006012      ', 'PRS31006013      ',
       'PRS31006021      ', 'PRS31006022      ', 'PRS31006023      ',
       'PRS31006031      ', 'PRS31006032      ', 'PRS31006033      ',
       'PRS31006061      ', 'PRS31006062      ', 'PRS31006063      ',
       'PRS31006081      ', 'PRS31006082      ', 'PRS31006083      ',
       'PRS31006091      ', 'PRS31006092      ', 'PRS31006093      ',
       'PRS31006101      ', 'PRS31006102      ', 'PRS31006103      ',
       'PRS31006111      ', 'PRS31006112      ', 'PRS31006113      ',
       'PRS31006131      ', 'PRS31006132      ', 'PRS31006133      ',
       'PRS31006151      ', 'PRS31006152      ', 'PRS31006153      ',
       'PRS31006161      ', 'PRS31006162      ', 'PRS31006163      ',
       'PRS31006171      ', 'PRS31006172      ', 'PRS31006173      ',
       'PRS31006211      ', 'PRS31006212      ', 'PRS31006213      ',
       'PRS31006221      ', 'PRS31006222      ', 'PRS31006223      ',
       'PRS31006231      ', 'PRS31006232      ', 'PRS31006233      ',
       'PRS32006011      ', 'PRS32006012      ', 'PRS32006013      ',
       'PRS32006021      ', 'PRS32006022      ', 'PRS32006023      ',
       'PRS32006031      ', 'PRS32006032      ', 'PRS32006033      ',
       'PRS32006061      ', 'PRS32006062      ', 'PRS32006063      ',
       'PRS32006081      ', 'PRS32006082      ', 'PRS32006083      ',
       'PRS32006091      ', 'PRS32006092      ', 'PRS32006093      ',
       'PRS32006101      ', 'PRS32006102      ', 'PRS32006103      ',
       'PRS32006111      ', 'PRS32006112      ', 'PRS32006113      ',
       'PRS32006131      ', 'PRS32006132      ', 'PRS32006133      ',
       'PRS32006151      ', 'PRS32006152      ', 'PRS32006153      ',
       'PRS32006161      ', 'PRS32006162      ', 'PRS32006163      ',
       'PRS32006171      ', 'PRS32006172      ', 'PRS32006173      ',
       'PRS32006211      ', 'PRS32006212      ', 'PRS32006213      ',
       'PRS32006221      ', 'PRS32006222      ', 'PRS32006223      ',
       'PRS32006231      ', 'PRS32006232      ', 'PRS32006233      ',
       'PRS84006011      ', 'PRS84006012      ', 'PRS84006013      ',
       'PRS84006021      ', 'PRS84006022      ', 'PRS84006023      ',
       'PRS84006031      ', 'PRS84006032      ', 'PRS84006033      ',
       'PRS84006041      ', 'PRS84006042      ', 'PRS84006043      ',
       'PRS84006051      ', 'PRS84006052      ', 'PRS84006053      ',
       'PRS84006061      ', 'PRS84006062      ', 'PRS84006063      ',
       'PRS84006081      ', 'PRS84006082      ', 'PRS84006083      ',
       'PRS84006091      ', 'PRS84006092      ', 'PRS84006093      ',
       'PRS84006101      ', 'PRS84006102      ', 'PRS84006103      ',
       'PRS84006111      ', 'PRS84006112      ', 'PRS84006113      ',
       'PRS84006131      ', 'PRS84006132      ', 'PRS84006133      ',
       'PRS84006141      ', 'PRS84006142      ', 'PRS84006143      ',
       'PRS84006151      ', 'PRS84006152      ', 'PRS84006153      ',
       'PRS84006161      ', 'PRS84006162      ', 'PRS84006163      ',
       'PRS84006171      ', 'PRS84006172      ', 'PRS84006173      ',
       'PRS85006011      ', 'PRS85006012      ', 'PRS85006013      ',
       'PRS85006021      ', 'PRS85006022      ', 'PRS85006023      ',
       'PRS85006031      ', 'PRS85006032      ', 'PRS85006033      ',
       'PRS85006041      ', 'PRS85006042      ', 'PRS85006043      ',
       'PRS85006051      ', 'PRS85006052      ', 'PRS85006053      ',
       'PRS85006061      ', 'PRS85006062      ', 'PRS85006063      ',
       'PRS85006081      ', 'PRS85006082      ', 'PRS85006083      ',
       'PRS85006091      ', 'PRS85006092      ', 'PRS85006093      ',
       'PRS85006101      ', 'PRS85006102      ', 'PRS85006103      ',
       'PRS85006111      ', 'PRS85006112      ', 'PRS85006113      ',
       'PRS85006131      ', 'PRS85006132      ', 'PRS85006133      ',
       'PRS85006141      ', 'PRS85006142      ', 'PRS85006143      ',
       'PRS85006151      ', 'PRS85006152      ', 'PRS85006153      ',
       'PRS85006161      ', 'PRS85006162      ', 'PRS85006163      ',
       'PRS85006171      ', 'PRS85006172      ', 'PRS85006173      ',
       'PRS88003011      ', 'PRS88003012      ', 'PRS88003013      ',
       'PRS88003021      ', 'PRS88003022      ', 'PRS88003023      ',
       'PRS88003031      ', 'PRS88003032      ', 'PRS88003033      ',
       'PRS88003041      ', 'PRS88003042      ', 'PRS88003043      ',
       'PRS88003051      ', 'PRS88003052      ', 'PRS88003053      ',
       'PRS88003061      ', 'PRS88003062      ', 'PRS88003063      ',
       'PRS88003081      ', 'PRS88003082      ', 'PRS88003083      ',
       'PRS88003091      ', 'PRS88003092      ', 'PRS88003093      ',
       'PRS88003101      ', 'PRS88003102      ', 'PRS88003103      ',
       'PRS88003111      ', 'PRS88003112      ', 'PRS88003113      ',
       'PRS88003121      ', 'PRS88003122      ', 'PRS88003123      ',
       'PRS88003131      ', 'PRS88003132      ', 'PRS88003133      ',
       'PRS88003141      ', 'PRS88003142      ', 'PRS88003143      ',
       'PRS88003151      ', 'PRS88003152      ', 'PRS88003153      ',
       'PRS88003161      ', 'PRS88003162      ', 'PRS88003163      ',
       'PRS88003171      ', 'PRS88003172      ', 'PRS88003173      ',
       'PRS88003181      ', 'PRS88003182      ', 'PRS88003183      ',
       'PRS88003191      ', 'PRS88003192      ', 'PRS88003193      ',
       'PRS88003201      ', 'PRS88003202      ', 'PRS88003203      '],
      dtype=object)

In [17]:
df_timeseries[df_timeseries['series_id'] == 'PRS30006032']['period'].unique()

array([], dtype=object)

In [18]:
df_timeseries[df_timeseries['series_id'] == 'PRS30006032']

Empty DataFrame
Columns: [series_id, year, period, value, footnote_codes]
Index: []

In [20]:
df_filtered_value = df_timeseries[
    (df_timeseries['series_id'] == 'PRS30006011') &
    (df_timeseries['period'] == 'Q01')
][['series_id', 'year', 'period', 'value']]

In [21]:
# Use a confirmed valid series_id and period
df_filtered_value = df_timeseries[
    (df_timeseries['series_id'] == 'PRS30006011') &
    (df_timeseries['period'] == 'Q01')
][['series_id', 'year', 'period', 'value']]

# Make sure types match
df_filtered_value['year'] = df_filtered_value['year'].astype(int)
df_population['Year'] = pd.to_numeric(df_population['Year'], errors='coerce')
df_population['Population'] = pd.to_numeric(df_population['Population'], errors='coerce')

# Rename and join
df_pop_subset = df_population[['Year', 'Population']].rename(columns={'Year': 'year'})
df_joined = pd.merge(df_filtered_value, df_pop_subset, on='year', how='inner')

# Show result
df_joined.head()

Empty DataFrame
Columns: [series_id, year, period, value, Population]
Index: []

In [22]:
df_timeseries[df_timeseries['series_id'] == 'PRS30006011']['period'].unique()

array([], dtype=object)

In [25]:
import requests

# BLS blocks requests without a proper User-Agent
headers = {
    "User-Agent": "YourName (nahomkenna14@outlook.com)"
}

url_bls = "https://download.bls.gov/pub/time.series/pr/pr.data.0.Current"
bls_response = requests.get(url_bls, headers=headers)

with open("pr.data.0.Current", "wb") as f:
    f.write(bls_response.content)

print("‚úÖ pr.data.0.Current downloaded successfully with headers")

‚úÖ pr.data.0.Current downloaded successfully with headers

In [26]:
import pandas as pd
import json

# Load time series from Part 1
df_timeseries = pd.read_csv("pr.data.0.Current", sep="\t")
df_timeseries.columns = df_timeseries.columns.str.strip()
df_timeseries.head()

           series_id  year period  value footnote_codes
0  PRS30006011        1995    Q01    2.6            NaN
1  PRS30006011        1995    Q02    2.1            NaN
2  PRS30006011        1995    Q03    0.9            NaN
3  PRS30006011        1995    Q04    0.1            NaN
4  PRS30006011        1995    Q05    1.4            NaN

In [27]:
df_timeseries[df_timeseries['series_id'] == 'PRS30006011']['period'].unique()

array([], dtype=object)

In [28]:
df_timeseries.loc[df_timeseries['series_id'] == 'PRS30006011', 'period'].unique()

array([], dtype=object)

In [29]:
# Strip leading/trailing whitespace from all string columns
df_timeseries = df_timeseries.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\Owner\AppData\Local\Temp\ipykernel_6688\561936647.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_timeseries = df_timeseries.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [30]:
import requests

# BLS blocks requests without a proper User-Agent
headers = {
    "User-Agent": "YourName (nahomkenna14@outlook.com)"
}

url_bls = "https://download.bls.gov/pub/time.series/pr/pr.data.0.Current"
bls_response = requests.get(url_bls, headers=headers)

with open("pr.data.0.Current", "wb") as f:
    f.write(bls_response.content)

print("‚úÖ pr.data.0.Current downloaded successfully with headers")

‚úÖ pr.data.0.Current downloaded successfully with headers

In [31]:
import pandas as pd
import json

# Load time series from Part 1
df_timeseries = pd.read_csv("pr.data.0.Current", sep="\t")
df_timeseries.columns = df_timeseries.columns.str.strip()
df_timeseries.head()

           series_id  year period  value footnote_codes
0  PRS30006011        1995    Q01    2.6            NaN
1  PRS30006011        1995    Q02    2.1            NaN
2  PRS30006011        1995    Q03    0.9            NaN
3  PRS30006011        1995    Q04    0.1            NaN
4  PRS30006011        1995    Q05    1.4            NaN

In [32]:
# Strip leading/trailing whitespace from all string columns
df_timeseries = df_timeseries.applymap(lambda x: x.strip() if isinstance(x, str) else x)

C:\Users\Owner\AppData\Local\Temp\ipykernel_6688\561936647.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_timeseries = df_timeseries.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [33]:
# Strip leading/trailing whitespace from all string columns
df_timeseries = df_timeseries.map(lambda x: x.strip() if isinstance(x, str) else x)

In [34]:
df_timeseries.loc[df_timeseries['series_id'] == 'PRS30006011', 'period'].unique()

array(['Q01', 'Q02', 'Q03', 'Q04', 'Q05'], dtype=object)

In [35]:
df_timeseries.loc[df_timeseries['series_id'] == 'PRS30006032', 'period'].unique()

array(['Q01', 'Q02', 'Q03', 'Q04', 'Q05'], dtype=object)

In [36]:
# Step 1: Filter for the target series_id and period
df_filtered_value = df_timeseries[
    (df_timeseries['series_id'] == 'PRS30006032') &
    (df_timeseries['period'] == 'Q01')
][['series_id', 'year', 'period', 'value']]

# Step 2: Clean types
df_filtered_value['year'] = pd.to_numeric(df_filtered_value['year'], errors='coerce')
df_population['Year'] = pd.to_numeric(df_population['Year'], errors='coerce')
df_population['Population'] = pd.to_numeric(df_population['Population'], errors='coerce')

# Step 3: Join with population data
df_pop_subset = df_population[['Year', 'Population']].rename(columns={'Year': 'year'})
df_joined = pd.merge(df_filtered_value, df_pop_subset, on='year', how='inner')

# ‚úÖ Final Output
df_joined.head()

     series_id  year period  value  Population
0  PRS30006032  2013    Q01    0.5   311536594
1  PRS30006032  2014    Q01   -0.1   314107084
2  PRS30006032  2015    Q01   -1.7   316515021
3  PRS30006032  2016    Q01   -1.4   318558162
4  PRS30006032  2017    Q01    0.9   321004407